{% extends "base.html" %}

{% block title %}简洁新闻{% endblock %}
{% block head %}
    {{ super()}}
    <link href="static/css/add.style.css" rel="stylesheet" />
    <link rel="shortcut icon" href="static/images/news2.png" type="image/x-icon" />
{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>投稿成功,审核通过后会呈现出并通过邮箱通知您！</h1><br>
    <form action="index.html" method="GET">
        <button >
        返回首页
        </button>
    </form>
    <br>
    <form action="Contribute.html" method="GET">
        <button >
            再次投稿
        </button>
    </form>


</div>
{% endblock %}
